<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386731171770-7e3jlnr9bimcjkrhb45qd21nrft2jqhc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386731171770-7e3jlnr9bimcjkrhb45qd21nrft2jqhc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>386731171770-318s9p6bealk2stnmltv91q5cf34ee2p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDVyTeDhuInPzsXLTOSsA7mlR8e25qaceM</string>
	<key>GCM_SENDER_ID</key>
	<string>386731171770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopApp</string>
	<key>PROJECT_ID</key>
	<string>pfe12-381d2</string>
	<key>STORAGE_BUCKET</key>
	<string>pfe12-381d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386731171770:ios:f33f6f5c389c4dbdbac783</string>
	<key>DATABASE_URL</key>
	<string>https://pfe12-381d2.firebaseio.com</string>
</dict>
</plist>